name: Test
on:
  pull_request:
  push:
    branches: [main]
permissions:
  contents: read

jobs:
  uv_lock:
    name: Validate uv.lock
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ethereum/steel-website
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Install uv ${{ vars.UV_VERSION }} and python ${{ vars.DEFAULT_PYTHON_VERSION }}
        uses: astral-sh/setup-uv@0c5e2b8115b80b4c7c5ddf6ffdd634974642d182
        with:
          version: ${{ vars.UV_VERSION }}
          python-version: ${{ vars.DEFAULT_PYTHON_VERSION }}
      - name: Check uv.lock file
        run: uv lock --check

  spellcheck:
    name: Spellcheck sources with codespell
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ethereum/steel-website
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Install uv ${{ vars.UV_VERSION }} and python ${{ vars.DEFAULT_PYTHON_VERSION }}
        uses: astral-sh/setup-uv@0c5e2b8115b80b4c7c5ddf6ffdd634974642d182
        with:
          version: ${{ vars.UV_VERSION }}
          python-version: ${{ vars.DEFAULT_PYTHON_VERSION }}
      - name: Run spellcheck with codespell
        run: uvx tox -e spellcheck

  # check_links:
  #   name: Check links with lychee
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout ethereum/steel-website
  #       uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
  #     - name: Run lychee
  #       uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # 2.7.0
  #       with:
  #         args: >
  #           --root-dir "$(pwd)"
  #           --no-progress
  #           README.md
  #           ./docs/**/*.md
  #         fail: true
  #         format: markdown
  #         jobSummary: true
  #         output: lychee/out.md

  build:
    name: Build the site with zensical
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ethereum/steel-website
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Install uv ${{ vars.UV_VERSION }} and python ${{ vars.DEFAULT_PYTHON_VERSION }}
        uses: astral-sh/setup-uv@0c5e2b8115b80b4c7c5ddf6ffdd634974642d182
        with:
          version: ${{ vars.UV_VERSION }}
          python-version: ${{ vars.DEFAULT_PYTHON_VERSION }}
      - name: Build site
        run: uvx tox -e build
